<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Esport Betting App</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="icon-button with medal icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with heart icon">
      <mat-icon>workspace_premium</mat-icon>
    </button>
    <button mat-icon-button aria-label="icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>