<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Esport Betting App</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="header-button" aria-label="icon-button with medal icon">
      <mat-icon>menu</mat-icon>
      Matches
    </button>
    <button mat-raised-button color="primary" class="header-button" aria-label="icon-button with heart icon">
      <mat-icon>workspace_premium</mat-icon>
      Ranking
    </button>
    <button mat-raised-button color="primary" class="header-button" aria-label="icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
  </mat-toolbar-row>
</mat-toolbar>