.spacer {
  flex: 1 1 auto;
}

.header-button {
  margin-left: 20px
}

.toolbar-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
}

.button-focused {
  filter: brightness(85%);
}