<mat-card *ngIf="match" class="match-card">
  <mat-card-header>
      <mat-card-title class="card-rating">
        {{averageRating}}
        <star-rating
        [rating]="averageRating"
        [showHalfStars]="true"
        (starClickChange)="matchRated($event)"></star-rating>
      </mat-card-title>
      <mat-card-subtitle>{{match.start | date:'dd MMMM yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="match">

      <div class="team" style="justify-content: right;">
        <span class="team-name" style="text-align: right;">{{ match.team1.name }}</span>
        <img class="team-logo" [src]="match.team1.logoUrl" alt="">
      </div>
  
      <span *ngIf="match.winner === 'TBD'" class="score">0 : 0</span>
      <span *ngIf="match.winner === 'TEAM_1'" class="score">1 : 0</span>
      <span *ngIf="match.winner === 'TEAM_2'" class="score">0 : 1</span>
  
      <div class="team" style="justify-content: left;">
        <img class="team-logo" [src]="match.team2.logoUrl" alt="">
        <span class="team-name" style="text-align: left;">{{ match.team2.name }}</span>
      </div>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-header class="comment-section">
    <mat-card-subtitle>Comments:</mat-card-subtitle>
    <app-comment-list *ngIf="match" [comments]="match.comments"></app-comment-list>
  </mat-card-header>
</mat-card>