<mat-progress-bar *ngIf="!matches" mode="indeterminate"></mat-progress-bar>

<mat-list *ngIf="matches" class="match-list">
  <mat-divider></mat-divider>
  <mat-list-item
  *ngFor="let match of matches; index as i"
  matRipple
  class="gradient-transition"
  (click)="matchClicked(match)">

  <div class="game-info">
    <img class="game-logo" *ngIf="games && events" [src]="mapEventToGame.get(match.eventId)?.logoUrl">
    <span class="mat-title game-name" *ngIf="games && events && !mapEventToGame.get(match.eventId)?.logoUrl">
      {{mapEventToGame.get(match.eventId)?.name}}
    </span>
  </div>
  
  <div class="match">

    <div class="team" style="justify-content: right;">
      <span class="team-name" style="text-align: right;">{{ match.team1.name }}</span>
      <div class="team-logo-container">
        <img [src]="match.team1.logoUrl" alt="" class="team-logo">
      </div>
    </div>

    <span *ngIf="match.winner === 'TBD'" class="score">0 : 0</span>
    <span *ngIf="match.winner === 'TEAM_1'" class="score">1 : 0</span>
    <span *ngIf="match.winner === 'TEAM_2'" class="score">0 : 1</span>

    <div class="team" style="justify-content: left;">
      <div class="team-logo-container">
        <img [src]="match.team2.logoUrl" alt="" class="team-logo">
      </div>
      <span class="team-name" style="text-align: left;">{{ match.team2.name }}</span>
    </div>

  </div>

  <span class="date">{{match.start | date:'dd-MM-yyyy'}} {{ match.start | date:'HH:mm'}}</span>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>