.match-list .mat-list-item {
  height: 80px;
}

.team-logo {
  height: 50px;
}

.match {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
}