.comment {
  width: 90%;
  margin: 30px auto;
}

.card-content {
  justify-content: space-between;
}

.message {
  padding: 0 16px;
  margin-bottom: 0;
}

.message-field {
  width: 100%;
  display: block;
}