<img *ngIf="game && game.logoUrl" [src]="game.logoUrl" [alt]="game.name" class="game-logo">
<div *ngIf="game && !game.logoUrl" class="game-name mat-title">{{game.name}}</div>
<mat-accordion multi>
  <mat-expansion-panel
  hideToggle
  *ngFor="let event of events; index as i;"
  class="event-list"
  (click)="eventClicked(event.id, i)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{event.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span style="width: 87px;"> {{event.season ? 'Season - ' + event.season : ''}}</span>
        <span style="width: 120px;"> {{event.region ? 'Region - ' + event.region : ''}}</span>
        <span style="width: 200px; text-align: right;"> {{event.start && event.end ? (event.start | date) + ' - ' + (event.end | date) : ''}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-progress-bar *ngIf="!event.matches" mode="indeterminate"></mat-progress-bar>

    <app-match-list *ngIf="event.matches" [matches]="event.matches"></app-match-list>

  </mat-expansion-panel>
</mat-accordion>