<img *ngIf="game" [src]="game.logoUrl" [alt]="game.name" class="game-logo">
<mat-accordion multi>
  <mat-expansion-panel
  hideToggle
  *ngFor="let event of events; index as i;"
  class="event-list"
  (click)="eventClicked(event.id, i)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{event.name}}
      </mat-panel-title>
      <mat-panel-description>
        <span>Season - {{event.season}}</span>
        <span>Region - {{event.region}}</span>
        <span>{{event.start.toString().split('T')[0]}} - {{event.end.toString().split('T')[0]}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-progress-bar *ngIf="!event.matches" mode="indeterminate"></mat-progress-bar>

    <app-match-list *ngIf="event.matches" [matches]="event.matches"></app-match-list>

  </mat-expansion-panel>
</mat-accordion>