<mat-progress-bar *ngIf="!user" mode="indeterminate"></mat-progress-bar>

<mat-list *ngIf="user">
  <mat-list-item >
    <div class="row">
      <span class="header">First name:</span>
      <span>{{ user.firstName ? user.firstName : '-' }}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <div class="row">
      <span class="header">Last name:</span>
      <span>{{ user.lastName ? user.lastName : '-' }}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <div class="row">
      <span class="header">E-mail:</span>
      <span>{{ user.email ? user.email : '-' }}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <div class="row">
      <span class="header">Created at:</span>
      <span>{{ user.createdTimestamp ? (user.createdTimestamp | date:'yyyy-MM-dd HH:mm:ss') : '-' }}</span>
    </div>
  </mat-list-item>
</mat-list>