<mat-progress-bar *ngIf="!user" mode="indeterminate"></mat-progress-bar>

<mat-card *ngIf="user" class="match-card">

  <mat-card-header class="match-header">
    <mat-card-title>{{ user.username ? user.username : '-' }}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 10px;">User profile</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Details">
        <app-profile-details [user]="user"></app-profile-details>
      </mat-tab>
      <mat-tab label="Bets">
        <app-profile-bets [bets]="user.bets" [matches]="matches!"></app-profile-bets>
      </mat-tab>
      <mat-tab label="Comments">
        <app-profile-comments [comments]="user.comments" [matches]="matches!"></app-profile-comments>
      </mat-tab>
      <mat-tab label="Ratings"> Ratings </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>