.game-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.game-card {
  margin-top: 6%;
  width: 350px;
  height: 150px;
  padding: 20px;
}

.gradient-transition {
  background: linear-gradient(white, lightgray);
  background: -o-linear-gradient(white, lightgray);
  background: -moz-linear-gradient(white, lightgray);
  background: -webkit-linear-gradient(white, lightgray);
  transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
  -moz-transition: background 300ms ease-out;
  -webkit-transition: background 300ms ease-out;
  background-size: 1px 700px;
}

.gradient-transition:hover {
  background-position: 100px;
  cursor: pointer;
}

.game-logo {
  width: 65%;
  border-radius: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}