<mat-sidenav-container class="admin-panel">

  <mat-sidenav mode="side" opened>
    <mat-selection-list #selectionList [multiple]="false" (click)="selectAction(selectionList)" class="selection-list">
      <div *ngFor="let action of actions">

        <div
        class="actions"
        matRipple
        [ngStyle]="{'background-color': (selectedAction === action) ? 'lightgray' : '#ffffff'}">

          <mat-list-option
          [value]="action"
          style="background-color: white-space;"
          [disableRipple]="true">
            {{action}}
          </mat-list-option>

          <button mat-icon-button class="create-button">
            <mat-icon>add_circle</mat-icon>
          </button>

        </div>

        <mat-divider></mat-divider>
      </div>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-game-list *ngIf="selectedAction === 'Game'"></app-game-list>
    <app-event-list *ngIf="selectedAction === 'Event'"></app-event-list>
    <app-team-list *ngIf="selectedAction === 'Team'"></app-team-list>
    <app-match-list *ngIf="selectedAction === 'Match'"></app-match-list>
  </mat-sidenav-content>

</mat-sidenav-container>