<mat-sidenav-container class="admin-panel">

  <mat-sidenav mode="side" opened>
    <mat-selection-list #selectionList [multiple]="false" (click)="selectAction(selectionList)">
      <mat-divider></mat-divider>
      <mat-list-option *ngFor="let action of actions" [value]="action">
        {{action}}
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-game-list *ngIf="selectedAction === 'Game'"></app-game-list>
    <app-event-list *ngIf="selectedAction === 'Event'"></app-event-list>
    <app-team-list *ngIf="selectedAction === 'Team'"></app-team-list>
    <app-match-list *ngIf="selectedAction === 'Match'"></app-match-list>
  </mat-sidenav-content>

</mat-sidenav-container>