<mat-progress-bar *ngIf="!(bets && users)" mode="indeterminate"></mat-progress-bar>

<mat-list *ngIf="(bets && users)">
  <mat-list-item class="gradient-transition-header">
    <div class="user">
      <span class="column header">Position</span>
      <span class="column-username header">User</span>
      <span class="column header">Correct bets</span>
      <span class="column header">Total bets</span>
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item
  *ngFor="let userInformation of usersBetInformation; index as i"
  matRipple
  class="gradient-transition"
  (click)="userClicked(userInformation.user.id)">

    <div class="user">
      <span class="column">{{ i + 1 }}</span>
      <span class="column-username">{{ userInformation.user.username }}</span>
      <span class="column">{{ userInformation.correctPredictions | percent }}</span>
      <span class="column">{{ userInformation.betCount }}</span>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>